body {
	font-family: "Arial", "Verdana";
	font-weight: bold;
	font-size: 11px;
	background-repeat: repeat;
	background-image: url("img/background.png");
}

.connectorMenu {
	position: absolute;
	z-index:  7;
	display:  none;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2px;
}

.menuEntry {
	border:       1px;
	border-image: url("img/mod-bg.png") 1 1 1 1 fill;
}

.library {
	position: absolute;
	z-index:  8;
	right:    0;
	top:      15px;
}

.cables {
	position: absolute;
	top:      0;
	left:     0;
	z-index:  2;
}

.module {
	position:   absolute;
	width:      254px;
	height:     13px;
	border:     1px;
	border-image: url("img/mod-bg.png") 1 1 1 1 fill;
}

.moduleOverlay {
	position: absolute;
	top:      0;
	left:     0;
	width:    254px;
	height:   13px;
	z-index:  3;
}

.dummy {
	position:     absolute;
	width:        248px;
	height:       7px;
	border:       4px;
	border-image: url("img/mod-dummy.png") 4 4 round;
	z-index:      5;
}

.x1 { height: 13px; }
.x2 { height: 28px; }
.x3 { height: 43px; }
.x4 { height: 58px; }
.x5 { height: 73px; }
.x6 { height: 88px; }
.x7 { height: 103px; }
.x8 { height: 118px; }
.x9 { height: 133px; }

.R0 { border-image: url("img/mod-bgR0.png") 1 1 1 1 fill; }
.R1 { border-image: url("img/mod-bgR1.png") 1 1 1 1 fill; }
.R2 { border-image: url("img/mod-bgR2.png") 1 1 1 1 fill; }
.R3 { border-image: url("img/mod-bgR3.png") 1 1 1 1 fill; }
.Y0 { border-image: url("img/mod-bgY0.png") 1 1 1 1 fill; }
.Y1 { border-image: url("img/mod-bgY1.png") 1 1 1 1 fill; }
.Y2 { border-image: url("img/mod-bgY2.png") 1 1 1 1 fill; }
.Y3 { border-image: url("img/mod-bgY3.png") 1 1 1 1 fill; }
.G0 { border-image: url("img/mod-bgG0.png") 1 1 1 1 fill; }
.G1 { border-image: url("img/mod-bgG1.png") 1 1 1 1 fill; }
.G2 { border-image: url("img/mod-bgG2.png") 1 1 1 1 fill; }
.G3 { border-image: url("img/mod-bgG3.png") 1 1 1 1 fill; }
.C0 { border-image: url("img/mod-bgC0.png") 1 1 1 1 fill; }
.C1 { border-image: url("img/mod-bgC1.png") 1 1 1 1 fill; }
.C2 { border-image: url("img/mod-bgC2.png") 1 1 1 1 fill; }
.C3 { border-image: url("img/mod-bgC3.png") 1 1 1 1 fill; }
.B0 { border-image: url("img/mod-bgB0.png") 1 1 1 1 fill; }
.B1 { border-image: url("img/mod-bgB1.png") 1 1 1 1 fill; }
.B2 { border-image: url("img/mod-bgB2.png") 1 1 1 1 fill; }
.B3 { border-image: url("img/mod-bgB3.png") 1 1 1 1 fill; }
.P0 { border-image: url("img/mod-bgP0.png") 1 1 1 1 fill; }
.P1 { border-image: url("img/mod-bgP1.png") 1 1 1 1 fill; }
.P2 { border-image: url("img/mod-bgP2.png") 1 1 1 1 fill; }
.P3 { border-image: url("img/mod-bgP3.png") 1 1 1 1 fill; }

.performance {
	position:   absolute;
	text-align: center;
	right:      0;
	top:        0;
	width:      75px;
}

.connector {
	position: absolute;
	display:  inline-block;
	width:    11px;
	height:   11px;
}

.connectorOverlay {
	position: fixed;
	z-index:  4;
	width:    11px;
	height:   11px;
}

.eventOut   { background-image: url("img/out-Y.png"); }
.eventIn    { background-image: url("img/in-Y.png");  }
.audioOut   { background-image: url("img/out-R.png"); }
.audioIn    { background-image: url("img/in-R.png");  }
.controlOut { background-image: url("img/out-B.png"); }
.controlIn  { background-image: url("img/in-Y.png");  }


.knob {
	position: absolute;
	width:    23px;
	height:   23px;
	background-image: url("img/knob.png");
}

.knobMark {
	background-image: url("img/knobMark.png");
}

.knobOverlay {
	position: absolute;
	z-index:  4;
	width:    23px;
	height:   23px;
}
